<header>
  <h2>Breakout</h2>
</header>

<div class="outer-div"> 
  <div class="game-board">
    <Breakout 
      @width={{480}} 
      @height={{320}} 
      @paddleWidth={{75}} 
      @brickRowCount={{3}} 
      @brickColumnCount={{5}}
      @ballRadius={{10}} 
      @lives={{3}}  />
  </div>
</div>